################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
cmake-build-debug
CMakeLists.txt.user
/.vs
/out
log.txt
.vscode
build
/cmake-build-minsizerel
/cmake-build-release
Build
CMakeUserPresets.json
__pycache__
install
demoapp
.idea